<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimEngineInterfaceMqtt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SimEngineInterfaceMqtt.Properties.Settings>
            <setting name="MqttBroker" serializeAs="String">
                <value />
            </setting>
            <setting name="RequestTopic" serializeAs="String">
                <value>SimEngine\Request</value>
            </setting>
            <setting name="StatusTopic" serializeAs="String">
                <value>SimEngine\Status</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>c:\logs\SimEngine</value>
            </setting>
        </SimEngineInterfaceMqtt.Properties.Settings>
    </userSettings>
</configuration>