<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimioApiHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <SimioApiHelper.Properties.Settings>
            <setting name="SimEngineSystemFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SimioInstallationFolder" serializeAs="String">
                <value>c:\program files (x86)\simio</value>
            </setting>
            <setting name="SimEngineRunModel" serializeAs="String">
                <value />
            </setting>
            <setting name="SimEngineRunExperiment" serializeAs="String">
                <value />
            </setting>
            <setting name="SimEngineBuilderTargetFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SimEngineRunSimioProjectFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SimEngineRunSimioProjectsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value />
            </setting>
        </SimioApiHelper.Properties.Settings>
    </userSettings>
</configuration>
