<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimioApiHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <SimioApiHelper.Properties.Settings>
            <setting name="HeadlessSystemFolder" serializeAs="String">
                <value>c:\(test)\SimioHeadless</value>
            </setting>
            <setting name="SimioInstallationFolder" serializeAs="String">
                <value>c:\program files (x86)\simio</value>
            </setting>
            <setting name="HeadlessRunFolder" serializeAs="String">
                <value>c:\(test)\SimioHeadlessTests</value>
            </setting>
            <setting name="HeadlessRunExecutable" serializeAs="String">
                <value />
            </setting>
            <setting name="HeadlessRunModel" serializeAs="String">
                <value />
            </setting>
            <setting name="HeadlessRunExperiment" serializeAs="String">
                <value />
            </setting>
            <setting name="HeadlessBuilderTargetFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="HeadlessBuilderSourceFolder" serializeAs="String">
                <value>c:\program files (x86)\simio</value>
            </setting>
            <setting name="HeadlessRunSimioProjectFile" serializeAs="String">
                <value />
            </setting>
            <setting name="HeadlessRunSimioProjectsFolder" serializeAs="String">
                <value />
            </setting>
        </SimioApiHelper.Properties.Settings>
    </userSettings>
</configuration>
