<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimEngineControllerHttpServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <SimEngineControllerHttpServer.Properties.Settings>
            <setting name="ProjectsFolder" serializeAs="String">
                <value>c:\test\projects</value>
            </setting>
            <setting name="ExtensionsPath" serializeAs="String">
                <value>c:\test\HarvestedDLLs</value>
            </setting>
            <setting name="RequestsFolder" serializeAs="String">
                <value>c:\test\SimioModelRequests</value>
            </setting>
        </SimEngineControllerHttpServer.Properties.Settings>
    </userSettings>
</configuration>